name: Build and deploy Python app to Azure Web App - Majjako

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python version
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Create and start virtual environment
        run: |
          python -m venv venv
          source venv/bin/activate
          pip install -r requirements.txt

# zzzzzzzzzzzzzzzzzz
      # - name: Azure Login
      #   uses: azure/login@v1
      #   with:
      #     creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Fetch Environment Variables from Azure Web App
        run: |
          az webapp config appsettings list --name Majjako --resource-group Majjako_group-bcdf --query "[].{name:name, value:value}" > env.json
          cat env.json

      - name: Set Environment Variables
        run: |
          source venv/bin/activate
          for row in $(cat env.json | jq -r '.[] | @base64'); do
              _jq() {
               echo ${row} | base64 --decode | jq -r ${1}
              }
              echo "$(_jq '.name')=$(_jq '.value')" >> $GITHUB_ENV
          done

      - name: Check Environment Variables
        run: env

      - name: Collect Static Files
        run: |
          source venv/bin/activate
          pip install -r requirements.txt
          python manage.py collectstatic --noinput

# zzzzzzzzzzzzzzzzz

      - name: Zip artifact for deployment
        run: zip release.zip ./* -r

      - name: Upload artifact for deployment jobs
        uses: actions/upload-artifact@v4
        with:
          name: python-app
          path: |
            release.zip
            !venv/

  deploy:
    runs-on: ubuntu-latest
    needs: build
    environment:
      name: 'Production'
      url: ${{ steps.deploy-to-webapp.outputs.webapp-url }}
    
    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: python-app

      - name: Unzip artifact for deployment
        run: unzip release.zip

      # - name: Azure Login
      #   uses: azure/login@v1
      #   with:
      #     creds: ${{ secrets.AZURE_CREDENTIALS }}

      # - name: Fetch Environment Variables from Azure Web App
      #   run: |
      #     az webapp config appsettings list --name Majjako --resource-group Majjako_group-bcdf --query "[].{name:name, value:value}" > env.json
      #     cat env.json

      # - name: Set Environment Variables
      #   run: |
      #     source venv/bin/activate
      #     for row in $(cat env.json | jq -r '.[] | @base64'); do
      #         _jq() {
      #          echo ${row} | base64 --decode | jq -r ${1}
      #         }
      #         echo "$(_jq '.name')=$(_jq '.value')" >> $GITHUB_ENV
      #     done

      # - name: Check Environment Variables
      #   run: env

      # - name: Collect Static Files
      #   run: |
      #     source venv/bin/activate
      #     pip install -r requirements.txt
      #     python manage.py collectstatic --noinput

      - name: 'Deploy to Azure Web App'
        uses: azure/webapps-deploy@v3
        id: deploy-to-webapp
        with:
          app-name: 'Majjako'
          slot-name: 'Production'
          publish-profile: ${{ secrets.AZUREAPPSERVICE_PUBLISHPROFILE_07AFA3D37E7146DFAE9E756F77555E75 }}
